<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:template match="/">
    <html>
      <body>
        <h3>Person View</h3>
        <xsl:for-each select="school/persons/person[<%= index %>]">
          <p>
            name: <xsl:value-of select="name"/>, age: <xsl:value-of select="age"/>
          </p>
        </xsl:for-each>
      </body>
    </html>
  </xsl:template>
</xsl:stylesheet>